.detail__wrapper
  margin: 0 40px 300px 40px
  border: 1px solid lightgrey
  padding: 20px

.detail__title
  font-weight: 200
  font-size: 40px
  margin: 20px
  padding-bottom: 20px
  border-bottom: 1px solid lightgrey

.wrapper
  display: flex
  margin: 20px

.subtitle
  display: inline-block
  margin: 0 10px

.text
  display: inline-block

.go-back__btn
  margin: 30px
  width: 150px
  font-size: 18px
