.users__wrapper
  margin: 0 40px 40px 40px
  border: 1px solid lightgrey
  padding: 10px
  min-height: 64vh

.user-list__title
  font-weight: 200
  font-size: 30px
  width: 100%
  padding: 10px
  border-bottom: 1px solid lightgrey

.user-list__wrapper
  padding: 10px

.user__list
  list-style: none

li:nth-child(even)
  background-color: #F2F2F2

.user__item
  padding: 10px
  border-bottom: 1px solid lightgrey
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.user-item__title
  display: none

.delete__btn
  background-color: red

.item
  margin: 10px auto

@media (min-width: 600px)
  .user__item
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    padding: 10px
    border-bottom: 1px solid lightgrey

  .user-item__title
    border-bottom: 1px solid lightgrey
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    font-weight: 700
    padding: 5px

  .item
    margin: 0 auto

  .small__title
    display: none
